certifi==2018.4.16
chardet==3.0.4
Django==2.0.7
-e git+https://github.com/jbittel/django-mama-cas.git@b820306c182879d70d2470d4882b911ab5fc01fc#egg=django_mama_cas
django-rest-auth==0.9.3
djangorestframework==3.8.2
djangorestframework-jwt==1.11.0
idna==2.7
PyJWT==1.6.4
pytz==2018.5
requests==2.19.1
six==1.11.0
urllib3==1.23
